modules = ["python-3.12", "web"]

[nix]
channel = "stable-25_05"
packages = ["c-ares", "cacert", "cargo", "ffmpeg-full", "freetype", "gitFull", "glibcLocales", "grpc", "iana-etc", "lcms2", "libffi", "libiconv", "libimagequant", "libjpeg", "libtiff", "libuv", "libwebp", "libxcrypt", "oneDNN", "openjpeg", "openssl", "pkg-config", "re2", "rustc", "tcl", "tk", "xsimd", "zlib"]

[agent]
expertMode = true
