body {
    background: #212121 !important;
}


.gradio-container {
    max-width: 900px !important;
    margin: auto !important;
    background: #212121 !important;
}


.header {
    text-align: center;
    padding: 30px 0;
}


.header h1 {
    font-size: 36px;
    font-weight: 700;
}


.header p {
    color: #9ca3af;
    font-size: 17px;
}


.message {
    font-size: 16px !important;
    line-height: 1.7 !important;
}


textarea {
    background: #2f2f2f !important;
    color: white !important;
    border-radius: 18px !important;
    padding: 15px !important;
}


footer {
    display: none !important;
}