body {
    background: #212121 !important;
}


.gradio-container {
    max-width: 1100px !important;
}


/* Header */

h1 {
    text-align:center;
    font-size:32px !important;
}


/* Chat area */

#chatbox {
    border-radius:14px;
}


/* User message */

.message.user {
    background:#2f2f2f !important;
}


/* Assistant message */

.message.bot {
    background:transparent !important;
}


/* Input */

textarea {
    background:#2b2b2b !important;
    border-radius:20px !important;
    padding:15px !important;
}


button {
    border-radius:12px !important;
}